# =========================
# Dependencies
# =========================
node_modules
.pnpm-store

# =========================
# Git
# =========================
.git
.gitignore

# =========================
# Logs
# =========================
*.log
logs

# =========================
# Build outputs
# =========================
dist
build
out
coverage

apps/frontend/dist
apps/frontend/.angular
apps/backend/build

# =========================
# Env files
# =========================
.env
.env.*

# =========================
# IDE
# =========================
.vscode
.idea

# =========================
# OS
# =========================
.DS_Store

# =========================
# Docker files
# =========================
docker-compose*.yml
Dockerfile*
infrastructure/docker

# =========================
# Cache
# =========================
.pnpm-store
.cache
.turbo