# =========================
# Dependencies
# =========================
node_modules/
.pnpm-store/
pnpm-lock.yaml

package-lock.json
yarn.lock

# =========================
# Logs
# =========================
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Build outputs
# =========================
dist/
build/
out/
coverage/

# Angular
apps/frontend/dist/
apps/frontend/.angular/

# Adonis
apps/backend/build/

# =========================
# Env files
# =========================
.env
.env.*
!.env.example

# =========================
# Docker
# =========================
**/tmp/
**/.docker/
docker-compose.override.yml

# =========================
# IDE
# =========================
.vscode/
.idea/
*.swp
*.swo
AGENTS.md

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Cache
# =========================
.cache/
.turbo/
.eslintcache

# =========================
# pnpm / node
# =========================
.pnpm-debug.log